{{ define "page" }}
  {{ partial "header.html" . }}
  <main class="container mx-auto">
    
    <header class="px-4 mb-8">
      <h1 class="text-base xs:text-lg mb-2">{{ .Title }}</h1>
      {{- with .Description -}}
      <p class="opacity-60">{{ . }}</p>
      {{- end }}
    </header>
    
    
    <article class="relative px-4 text-sm xs:text-base">
      {{- with .Content -}}
      <p class="intro">{{ . | markdownify }}</p>
      {{- end -}}
    
      <ul class="items | list-none">
      {{- range .Pages.ByDate.Reverse }}
        <li class="item | relative rounded">
          <div class="item-body">
            <h2 class="item-title | text-base xs:text-lg mb-1"><a class="link-full" href="{{ .Permalink }}">{{ .Title }}</a></h2>
            {{- with .Description -}}
            <p>{{ . | markdownify }}</p>
            {{- end }}
            <p class="mb-1"><time class="mono text-sm opacity-60 mb-1" datetime="{{ .Date.Format "2006-01-02" | safeHTML }}">{{ .Date | time.Format ":date_long" }}</time></p>
            {{- with .Params.tags -}}
            <ul class="tags">{{ range . }}<li class="tag"><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>{{ end }}</ul>
            {{- end }}
          </div>
        </li>
      {{ end }}
      </ul>

    </article>

  </main>
  {{ partial "footer.html" . }}
{{ end }}
