{{ define "page" }}

  <div class="reveal">
    <div class="slides">
      <section data-markdown data-charset="utf-8" data-separator="^---" data-separator-vertical="^--" data-separator-notes="^Notes:">
        <textarea data-template>
          {{ .RawContent }}
        </textarea>
      </section>
    </div>
  </div>

  {{- $revealJS := resources.Get "dist/reveal/reveal.js" }}
  {{- $markdown := resources.Get "dist/reveal/plugin/markdown/markdown.js" }}
  {{- $highlight := resources.Get "dist/reveal/plugin/highlight/highlight.js" }}
  {{- $notes := resources.Get "dist/reveal/plugin/notes/notes.js" }}
  <script src="{{ $revealJS.RelPermalink }}"></script>
  <script src="{{ $markdown.RelPermalink }}"></script>
  <script src="{{ $highlight.RelPermalink }}"></script>
  <script src="{{ $notes.RelPermalink }}"></script>

  <script>
    Reveal.initialize({
      backgroundTransition: '{{ .Params.backgroundTransition }}',
      transition: '{{ .Params.transition }}',
      hash: true,
      plugins: [ RevealMarkdown, RevealHighlight, RevealNotes ],
      markdown: {
        smartypants: true,
        breaks: true
      }
    });
    
    function rangeOutput(name) {
      var input = document.querySelector('#' + name);
      var value = input.value;
      var output = document.querySelector('#' + name + ' + datalist [value="' + value + '"]').label;
      return output;
    }
  </script>
{{ end }}
