{{ define "page" }}
  {{ partial "header.html" . }}
  <main class="container mx-auto">
    
    <header class="px-4 mb-8">
      <h1 class="text-base xs:text-lg">{{ .Title }}</h1>  
    </header>
    
    {{- with .Content -}}
    <article class="content | relative px-4 text-sm xs:text-base">
      {{ . | markdownify }}
    </article>
    {{- end -}}

  </main>
  {{ partial "footer.html" . }}
{{ end }}
