{{ define "page" }}
  {{ partial "header.html" . }}
  <main class="container mx-auto">
    
    <header class="px-4 mb-4 text-base xs:text-lg">
      <nav class="inline"><a href="{{ .Parent.Permalink }}">{{ .Parent.Title }}</a></nav> <span class="opacity-60">/</span> <span>{{ .Title }}</span>
    </header>

    <article class="px-4 mb-32">
      <h1 class="visually-hidden">{{ .Title }}</h1>
      <hr>
      <section class="content | relative text-sm xs:text-base">
        {{ .Content | markdownify }}
      </section>
    </article>

  </main>
  {{ partial "footer.html" . }}
{{ end }}
