  {{- with .Title | default .Site.Title }}
  <meta property="og:title" content="{{ . }}">
  {{- end }}
  {{- with .Description | default .Params.subtitle | default .Summary }}
  <meta property="og:description" content="{{ . }}">
  {{- end }}
  {{- with .Params.cover | default .Params.image | default .Site.Params.image }}
  <link rel="image_src" href="{{ . }}">
  <meta property="og:image" content="{{ . }}">
  {{- end }}
  <meta property="og:url" content="{{ .Permalink | absLangURL }}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ .Site.Title }}">