  {{- with .Title | default .Site.Title }}
  <meta name="twitter:title" content="{{ . | truncate 70 }}">
  {{- end }}
  {{- with .Description | default .Params.subtitle | default .Summary }}
  <meta name="twitter:description" content="{{ . | truncate 200 }}">
  {{- end }}
  {{- with .Params.image | default .Site.Params.image }}
  <meta name="twitter:image" content="{{ . }}">
  {{- end }}
  {{- if .Params.image }}
  <meta name="twitter:card" content="summary_large_image">
  {{- else }}
  <meta name="twitter:card" content="summary">
  {{- end }}
  {{- with .Site.Author.twitter }}
  <meta name="twitter:site" content="@{{ . }}">
  <meta name="twitter:creator" content="@{{ . }}">
  {{- end }}