{{ define "page" }}
  {{ partial "header.html" . }}
  <main class="container mx-auto">
    
    <header class="px-4 mb-8">
      <h1 class="text-base xs:text-lg mb-2">{{ .Title }}</h1>
    </header>
    
    <div class="relative px-4 text-sm xs:text-base">
      {{- with .Content -}}
        {{ . | markdownify }}
      {{- end -}}
      <p class="intro"><a href="/blog/index.xml">Flux RSS</a> · <a href="/blogroll">Blogroll</a></p>
      <hr>
      <section class="items | mb-16">
      {{- range $index, $item := .Pages.ByDate.Reverse }}
        {{- with $item -}}
        <article class="item | relative rounded">
          <div class="item-body">
            <h2 class="item-title | text-base xs:text-lg mb-2"><a class="link-full" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            <p class="item-date | mono text-sm xs:text-base opacity-60 mt-1 mb-1"><time datetime="{{ .Date.Format "2006-01-02" | safeHTML }}">{{ .Date | time.Format ":date_long" }}</time> · <time datetime="PT{{ .ReadingTime }}M" title="Temps de lecture">{{ .ReadingTime }} <abbr title="minutes">min</abbr></time></p>
            <p class="mt-4">{{ .Description }}</p>
            {{- with .Params.tags -}}
            <ul class="tags">{{ range . }}<li class="tag"><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>{{ end }}</ul>
            {{- end }}
          </div>
        </article>
        {{- end }}
      {{- end }}
      </section>
    </div>

  </main>
  {{ partial "footer.html" . }}
{{ end }}
