{{ define "page" }}
  {{ partial "header.html" . }}
  <main class="container mx-auto">
    
    <header class="px-4 mb-4 text-base xs:text-lg">
      <nav class="inline"><a href="{{ .Parent.Permalink }}">{{ .Parent.Title }}</a></nav> <span class="opacity-60">/</span> <span>{{ .Title }}</span>
    </header>

    <article class="px-4 mb-32">
      <h1 class="visually-hidden">{{ .Title }}</h1>
      <p class="mono text-sm xs:text-base opacity-60 mb-1">
        <time datetime="{{ .Date.Format "2006-01-02" | safeHTML }}">{{ .Date | time.Format ":date_long" }}</time> · 
        <time datetime="PT{{ .ReadingTime }}M" title="Temps de lecture">{{ .ReadingTime }} <abbr title="minutes">min</abbr></time>
      </p>
      {{- if ne .Date .Lastmod }}
      <p class="mono text-sm xs:text-base opacity-60 mb-1">Dernière mise à jour: <time datetime="{{ .Lastmod.Format "2006-01-02" | safeHTML }}">{{ .Lastmod | time.Format ":date_long" }}</time></p>
      {{- end }}
      <hr>
      <section class="content | relative text-sm xs:text-base">
        {{ .Content | markdownify }}
      </section>
      <hr>
      {{- with .Params.comments }}
      <section id="comments" class="content | relative text-sm xs:text-base">
        <h2>Commentaires</h2>
        <p>Si vous souhaitez commenter cet article, je vous invite à le faire sur <strong>Mastodon</strong> en réponse à ce post&#8239;: {{ . | markdownify }}</p>
      </section>
      <hr>
      {{- end }}
      <footer>
        {{- with .Params.tags -}}
        <p class="mb-2 opacity-60">Tags</p>
        <ul class="tags">{{ range . }}<li class="tag"><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>{{ end }}</ul>
        {{- end }}
      </footer>
    </article>

  </main>
  {{ partial "footer.html" . }}
{{ end }}
