<!DOCTYPE html>
<html dir="ltr" class="no-js" data-theme="dark" lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ with .Title }}{{ . }} – {{ end }}{{ .Site.Title }}{{ end }}</title>
  {{ with .Description | default .Params.subtitle | default .Summary -}}
  <meta name="description" content="{{ . }}">
  {{- end }}
  {{ hugo.Generator }}
  <meta name="robots" content="index,follow">
  {{ partial "seo/main.html" . }}
  {{- partialCached "favicons.html" . }}
  <link rel="canonical" href="{{ .Permalink | absURL }}">
  <link rel="author" type="text/plain" href="{{ .Site.BaseURL }}humans.txt">
  {{- with .Params.redirect }}
  <meta http-equiv="Refresh" content="3; url='{{ . }}'">
  {{- end -}}

  <!-- CSS -->
  {{- $styles := resources.Get "css/main.css" }}
  {{ if .Site.IsServer }}
  <link rel="preload" href="{{ $styles.RelPermalink }}?{{ now.Unix }}" as="style" onload="this.rel='stylesheet'">
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}?{{ now.Unix }}" media="print" onload="this.media='all'">
  {{ else }}
  {{- $styles := $styles | minify }}
  <link rel="preload" href="{{ $styles.RelPermalink }}?{{ now.Unix }}" as="style" onload="this.rel='stylesheet'">
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}?{{ now.Unix }}" media="print" onload="this.media='all'">
  {{ end }}
  {{- $print := resources.Get "css/print.css" }}
  {{- $print := $print | minify -}}
  <link rel="stylesheet" media="print" href="{{ $print.RelPermalink }}">

  {{- if eq .Page.Layout "slides" -}}
  {{- $revealCSS := resources.Get "dist/reveal/reveal.css" }}
  {{- $revealTheme := resources.Get "css/reveal-dark.css" }}
  <link rel="stylesheet" href="{{ $revealCSS.RelPermalink }}">
  <link rel="stylesheet" href="{{ $revealTheme.RelPermalink }}?{{ now.Unix }}">
  {{- end }}

  {{- partial "critical-css.html" -}}

  <!-- Webfonts preload -->
  <link rel="preload" as="font" href="{{ .Site.BaseURL }}fonts/NTBau-Regular.woff2" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" as="font" href="{{ .Site.BaseURL }}fonts/NTBau-Mono-Regular.woff2" type="font/woff2" crossorigin="anonymous">

  {{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{- end }}
</head>

<body id="{{ .Slug }}" data-kind="{{ .Page.Kind }}" data-type="{{ .Page.Type }}"{{ with .Page.Layout }} data-layout="{{ . }}"{{ end }}>
  {{- if .Params.redirect }}
  {{ partialCached "header.html" . .IsHome }}
  <main class="container mx-auto">
    {{ if .Parent.IsSection }}
    <header class="px-4 text-base xs:text-lg opacity-60">
      {{ .Parent.Title }}
    </header>
    {{ end }}
    <article class="px-4">
      <h1 class="text-base xs:text-lg">{{ .Title }}</h1>
      <div class="content | relative text-sm xs:text-base">
        <p>Vous allez être redirigé vers le lien suivant : <br><a class="link-external" href="{{ .Params.redirect }}" target="_blank" rel="noopener">{{ .Params.redirect }}</a></p>
      </div>
    </article>
  </main>
  {{- else -}}
  {{ block "page" . }}{{ end }}
  {{- end }}
</body>
</html>
