{{ define "page" }}
  {{ partialCached "header.html" . .IsHome }}
  <main class="container mx-auto">

    <section class="px-4">
    	<hgroup>
      	<h1 class="text-base xs:text-lg mb-4">{{ .Title }}</h1>
      	{{- if .Lastmod }}
      	<p class="mono text-sm xs:text-base opacity-60 mb-4">Dernière mise à jour: <time datetime="{{ .Lastmod.Format "2006-01-02 03:04" }}">{{ .Lastmod | time.Format ":date_long" }}</time></p>
				{{- end }}
      </hgroup>
      {{- with .Description -}}
      <p class="intro">{{ . | markdownify }}</p>
      {{- end -}}
      <hr>
      <div class="relative text-sm xs:text-base">
        <ul class="items | list-none mb-16 grid">
        {{- range .Params.blogs }}
          {{- with . -}}
          <li class="item | relative rounded">
            <article class="item-body">
              <h2 class="item-title | text-base xs:text-lg mb-2"><a class="link-full" href="{{ .link }}" hreflang="{{ .lang }}">{{ .name }}</a></h2>
              <p class="mono text-sm xs:text-base opacity-60 mt-1 mb-1">{{ replaceRE "https?://" "" (strings.TrimSuffix "/" .link) }}</p>
              {{- with .description -}}
              <p class="mt-4">{{ . }}</p>
              {{- end }}
              {{- with .tags -}}
              <ul class="tags">{{ range . }}<li class="tag"><span>{{ . }}</span></li>{{ end }}</ul>
              {{- end }}
            </article>
          </li>
          {{- end }}
        {{- end }}
        </ul>
      </div>
    </section>

  </main>
  {{ partialCached "footer.html" . .Params.stats }}
{{ end }}
