{{ define "page" }}
  {{ partialCached "header.html" . .IsHome }}
  <main class="container mx-auto">
    
    <header class="px-4 mb-8">
      <h1 class="text-base xs:text-lg">{{ .Title }}</h1>  
    </header>
    
    {{- with .Content -}}
    <article class="content | relative px-4 text-sm xs:text-base">
      {{ . | markdownify }}
    </article>
    {{- end -}}
    
    <ul class="list-none px-4 mb-16">
    {{- range .Pages.ByDate.Reverse }}
      <li class="relative">
        <h2 class="text-base xs:text-lg mb-1"><a class="link-full" href="{{ .Permalink }}">{{ .Title }}</a></h2>
        {{- with .Description -}}
        <p>{{ . | markdownify }}</p>
        {{- end }}
        <p class="mb-1"><time class="mono text-sm opacity-60 mb-1" datetime="{{ .Date.Format "2006-01-02" | safeHTML }}">{{ .Date | time.Format ":date_long" }}</time></p>
        {{- with .Params.tags -}}
        <ul class="tags">{{ range . }}<li class="tag">{{ . }}</li>{{ end }}</ul>
        {{- end }}
      </li>
    {{ end }}
    </ul>

  </main>
  {{ partialCached "footer.html" . .Params.stats }}
{{ end }}
