{{ define "page" }}
  {{ partialCached "header.html" . .IsHome }}
  <main class="container mx-auto">

    <article class="px-4">
    	<hgroup>
      	<h1 class="text-base xs:text-lg mb-4">{{ .Title }}</h1>
      	{{- if .Lastmod }}
      	<p class="mono text-sm xs:text-base opacity-60 mb-1">Dernière mise à jour: <time datetime="{{ .Lastmod }}">{{ .Lastmod | time.Format ":date_long" }}</time></p>
				{{- end }}
      </hgroup>
      <hr>
      <div class="content | relative text-sm xs:text-base lg:5/8">
        {{ .Content | markdownify }}
      </div>
    </article>

  </main>
  {{ partialCached "footer.html" . .Params.stats }}
{{ end }}
