{{ define "page" }}
  {{ partialCached "header.html" . .IsHome }}
  <main class="container mx-auto">

    <article class="px-4">
      <h1 class="text-base xs:text-lg">{{ .Title }}</h1>
      <div class="content | relative text-sm xs:text-base lg:5/8">
        {{ .Content | markdownify }}
      </div>
    </article>

  </main>
  {{ partialCached "footer.html" . .Params.stats }}
{{ end }}
