/* Critical CSS
@charset "utf-8";
*/

/**
 * Variables
 */

/*

--font-sans: "NT Bau", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
--font-mono: "NT Bau Mono", Menlo, monospace;

--text-xs: .46875rem; (7.5px)
--text-sm: .75rem; (12px)
--text-base: 1.1875rem; (19px)
--text-lg: 1.9rem; (30.4px)

--space-1:  .296875rem;  (4.75px)
--space-2:  .59375rem;   (9.5px)
--space-4:  1.1875rem;   (19px)
--space-8:  2.375rem;    (38px)
--space-12: 3.5625rem;   (57px)

--light-100: #EBE6E5;
--light-66: rgba(235, 230, 229, 0.666);
--secondary-100: #E8D0CC;
--secondary-80: rgba(232, 208, 204, 0.8);
--primary-100: #172F33;
--primary-80: rgba(23, 47, 51, 0.8);
--dark-100: rgba(20, 25, 26, 1);
--dark-66: rgba(20, 25, 26, 0.666);

--breakpoint-xs: 30rem;   (480px)
--breakpoint-sm: 40rem;   (640px)
--breakpoint-md: 50.5rem; (808px)
--breakpoint-lg: 72rem;   (1152px)
--breakpoint-xl: 80rem;   (1280px)
*/


/**
 * Webfonts
 */

/* Critical CSS
@font-face {
  font-family: "NT Bau";
  src: url("/fonts/NTBau-Regular.woff2") format("woff2"),
       url("/fonts/NTBau-Regular.woff") format("woff"),
       url("/fonts/NTBau-Regular.otf") format("opentype"),
       url("/fonts/NTBau-Regular.eot");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NT Bau Mono";
  src: url("/fonts/NTBau-Mono-Regular.woff2") format("woff2"),
       url("/fonts/NTBau-Mono-Regular.woff") format("woff"),
       url("/fonts/NTBau-Mono-Regular.otf") format("opentype"),
       url("/fonts/NTBau-Mono-Regular.eot");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  content: "dark";
  box-sizing: border-box;
  width: 100%;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
*/

body {
  /* Critical CSS
  background: #14191A;
  color: #EBE6E5;
  font-family: "NT Bau", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.1875rem;
  line-height: 1.333;
  letter-spacing: -0.01em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  */
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga", "clig";
  -webkit-font-feature-settings: "liga", "clig";
  font-feature-settings: "liga", "clig";
  /* Critical CSS
  margin: 0;
  padding: 0;
  min-height: 100vh;
  */
}

::-moz-selection {
  background: rgba(23, 47, 51, 0.8)
}
::selection {
  background: rgba(23, 47, 51, 0.8)
}

/**
 * Container
 */

/* Critical CSS
.container {
  max-width: 50.5rem;  
}
@media (min-width: 72rem) {
  .container {
    max-width: 80rem;
  }
}
*/

/**
 * Hide content visually
 */
/* Critical CSS
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
*/


/**
 * Opacity
 */
.opacity-80 { opacity: .8 }
/* Critical CSS
.opacity-60 { opacity: .66 }
*/
.opacity-0  { opacity: 0 }


/**
 * Display
 */
/* Critical CSS
.inline { display: inline }
*/
.block { display: block }
.inline-block { display: inline-block }
[class*="inline-block"] { vertical-align: top }

/* Critical CSS
[hidden], .hidden {
  display: none;
}
*/


/**
 * Position
 */
/* Critical CSS
.relative { position: relative }
*/
.absolute { position: absolute }
.fixed    { position: fixed }
.t-0, .top-0    { top: 0 }
.l-0, .left-0   { left: 0 }
.r-0, .right-0  { right: 0 }
.b-0, .bottom-0 { bottom: 0 }
.inset-0  { top: 0; right: 0; bottom: 0; left: 0 }


/**
 * Margins
 */
.m-0   { margin: 0 }
.m-2   { margin: .59375rem }
.mx-2  { margin-left: .59375rem; margin-right: .59375rem }
.-mx-2 { margin-left: -.59375rem; margin-right: -.59375rem }
.mx-4  { margin-left: 1.1875rem; margin-right: 1.1875rem }
/* Critical CSS
.mx-auto { margin-left: auto; margin-right: auto }
.mt-0  { margin-top: 0 }
*/
.my-0  { margin-top: 0; margin-bottom: 0 }
/* Critical CSS
.mt-1  { margin-top: .296875rem }
*/
.-mt-1 { margin-top: -.296875rem }
/* Critical CSS
.mt-2  { margin-top: .59375rem }
.mt-4  { margin-top: 1.1875rem }
.mt-8  { margin-top: 2.375rem }
*/
.ml-0  { margin-left: 0 }
.ml-1  { margin-left: .296875rem }
.ml-2  { margin-left: .59375rem }
.ml-4  { margin-left: 1.1875rem }
.mr-0  { margin-right: 0 }
.mr-1  { margin-right: .296875rem }
.mr-2  { margin-right: .59375rem }
.mr-4  { margin-right: 1.1875rem }
/* Critical CSS
.mb-0  { margin-bottom: 0 }
.mb-1  { margin-bottom: .296875rem }
.mb-2  { margin-bottom: .59375rem }
.mb-4  { margin-bottom: 1.1875rem }
.mb-8  { margin-bottom: 2.375rem }
.mb-12 { margin-bottom: 3.5625rem }
.mb-16 { margin-bottom: 4.75rem }
.mb-32 { margin-bottom: 9.5rem }
*/

/**
 * Background colors
 */
.bg-white { background-color: white }

/**
 * Padding
 */
.p-0   { padding: 0 }
.px-2  { padding-left: .59375rem; padding-right: .59375rem }
/* Critical CSS
.px-4  { padding-left: 1.1875rem; padding-right: 1.1875rem }
*/
.py-0  { padding-top: 0; padding-bottom: 0 }
/* Critical CSS
.py-2  { padding-top: .59375rem; padding-bottom: .59375rem }
*/
.py-4  { padding-top: 1.1875rem; padding-bottom: 1.1875rem }
.py-8  { padding-top: 2.375rem; padding-bottom: 2.375rem }
.pl-0  { padding-left: 0 }
.pl-1  { padding-left: .296875rem }
.pl-2  { padding-left: .59375rem }
.pr-0  { padding-right: 0 }
.pr-1  { padding-right: .296875rem }
.pr-2  { padding-right: .59375rem }
.pr-4  { padding-right: 1.1875rem }
.pt-1  { padding-top: .296875rem }
.pt-2  { padding-top: .59375rem }
.pt-4  { padding-top: 1.1875rem }
.pt-8  { padding-top: 2.375rem }
.pb-1  { padding-bottom: .296875rem }
.pb-2  { padding-bottom: .59375rem }
.pb-4  { padding-bottom: 1.1875rem }
.pb-8  { padding-bottom: 2.375rem }


/**
 * Float
 */
.float-left  { float: left }
.float-right { float: right }
.clear-both  { clear: both }
.clear-both[aria-hidden] { margin-top: 2.375rem }

@media (min-width: 50.5rem) { /* >= md 808px */
  .md\:float-right { float: right }
}

@media (min-width: 72rem) { /* >= lg 1152px */
  .lg\:float-right { float: right }
}


/**
 * Columns
 */
[class*=columns] {
  -webkit-column-gap: 1.1875rem;
     -moz-column-gap: 1.1875rem;
          column-gap: 1.1875rem;
}
.columns-2 {
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
}
@media (min-width: 72rem) { /* >= lg 1152px */
  .lg\:columns-4 {
    -webkit-columns: 4;
       -moz-columns: 4;
            columns: 4;
  }
}
.columns-2 ul,
.columns-2 ol {
  margin: 0 !important;
}

/**
 * Width
 */
.w-fit  { width: initial; width: fit-content }
.w-full { width: 100% }
.w-1\/4 { width: 100%; max-width: 25% }
.w-3\/8 { width: 100%; max-width: 37.5% }
.w-1\/2 { width: 100%; max-width: 50% }
.w-5\/8 { width: 100%; max-width: 62.5% }
.min-w-100 { min-width: 100% };
.max-w-none { max-width: none }

@media (min-width: 30rem) { /* >= xs 480px */
  /* Critical CSS
  .xs\:mb-0  { margin-bottom: 0 } */
  .xs\:pl-2 { padding-left: .59375rem }
  .xs\:inline-block { display: inline-block }
  .xs\:w-1\/4 { width: 100%; max-width: 25% }
  .xs\:w-3\/8 { width: 100%; max-width: 37.5% }
  .xs\:w-1\/2 { width: 100%; max-width: 50% }
  .xs\:w-5\/8 { width: 100%; max-width: 62.5% }
  .xs\:w-full { width: 100%; max-width: 100% }
}

@media (min-width: 40rem) { /* >= sm 640px */
  .sm\:-mx-2 { 
    margin-left: -.59375rem; 
    margin-right: -.59375rem
  }
  .sm\:px-2 { 
    padding-left: .59375rem;
    padding-right: .59375rem
  }
  .sm\:inline-block { display: inline-block }
  .sm\:w-1\/4 { width: 100%; max-width: 25% }
  .sm\:w-3\/8 { width: 100%; max-width: 37.5% }
  .sm\:w-1\/2 { width: 100%; max-width: 50% }
  .sm\:w-5\/8 { width: 100%; max-width: 62.5% }
  .sm\:w-full { width: 100%; max-width: 100% }
}

@media (min-width: 50.5rem) { /* >= md 808px */
  .md\:-mx-2 { 
    margin-left: -.59375rem; 
    margin-right: -.59375rem
  }
  .md\:px-2 { 
    padding-left: .59375rem;
    padding-right: .59375rem
  }
  .md\:pr-4 { 
    padding-right: 1.1875rem
  }
  .md\:inline-block { 
    display: inline-block;
  }
  .md\:w-1\/4 { width: 100%; max-width: 25% }
  .md\:w-3\/8 { width: 100%; max-width: 37.5% }
  .md\:w-1\/2 { width: 100%; max-width: 50% }
  .md\:w-5\/8 { width: 100%; max-width: 62.5% }
  .md\:w-full { width: 100%; max-width: 100% }
}

@media (min-width: 72rem) { /* >= lg 1152px */
  /* Critical CSS
  .lg\:-mx-2 { 
    margin-left: -.59375rem; 
    margin-right: -.59375rem
  }
  .lg\:px-2 { 
    padding-left: .59375rem;
    padding-right: .59375rem
  }
  .lg\:pr-6 { 
    padding-right: 1.78125rem
  }
  */
  .lg\:pr-4 { 
    padding-right: 1.1875rem
  }
  /* Critical CSS
  .lg\:inline-block { 
    display: inline-block;
  }
  */
  .lg\:w-1\/4 { width: 100%; max-width: 25% }
  /* Critical CSS
  .lg\:w-3\/8 { width: 100%; max-width: 37.5% }
  .lg\:w-5\/8 { width: 100%; max-width: 62.5% }
  */
  .lg\:w-1\/2 { width: 100%; max-width: 50% }
  .lg\:w-full { width: 100%; max-width: 100% }
}

@media (min-width: 80rem) { /* >= xl 1280px */
  .xl\:-mx-2 { 
    margin-left: -.59375rem; 
    margin-right: -.59375rem
  }
  .xl\:px-2 { 
    padding-left: .59375rem;
    padding-right: .59375rem
  }
  .xl\:inline-block { 
    display: inline-block;
  }
  .xl\:w-1\/4 { width: 100%; max-width: 25% }
  .xl\:w-3\/8 { width: 100%; max-width: 37.5% }
  .xl\:w-1\/2 { width: 100%; max-width: 50% }
  .xl\:w-5\/8 { width: 100%; max-width: 62.5% }
  .xl\:w-full { width: 100%; max-width: 100% }
}


/**
 * Links
 */
/* Critical CSS
a {
  color: #E8D0CC;
  text-decoration: underline;
  text-underline-offset: 0.1em;
  word-break: break-word;
}
*/
@media (hover: hover) {
  a:hover {
    text-decoration: none;
  }
}
.no-underline,
ins {
  text-decoration: none;
}
a:focus,
a:active {
  background: #EBE6E5 !important;
  color: #14191A !important;
  outline: none;
}
a.link-full::after {
  content: "";
  display: block;
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  z-index: 1;
}
a.link-external[href^="http"]:not([href^="https://timothee.goguely.com/"])::after {
  content: "↗";
  display: inline-block;
  font-family: "NT Bau Mono", Menlo, monospace;
  color: rgba(235, 230, 229, 0.666);
  margin-left: .15em;
}


/**
 * Headings
 */
h1, h2, h3, h4 {
  font-weight: 400;
  margin: 0;
}
h4 {
  display: inline-block;
}


/**
 * Text
 */
/* Critical CSS
p {
  margin: 0;
  max-width: 33.68em;
}
*/
h1, h2, h3, h4 {
  max-width: 33.68em;
}
/* Critical CSS
small {
  font-size: 0.75rem;
  opacity: 0.66;
}
*/
strong {
  font-weight: 400;
  background: rgba(23, 47, 51, 0.8);
  border-radius: .125rem;
}
cite { font-style: normal }
/* Critical CSS
abbr { 
  position: relative;
  text-decoration: none;
  cursor: help
}
sup {
  line-height: 0;
}
.mono, figcaption, code, pre { 
  font-family: "NT Bau Mono", Menlo, monospace;
}
hr {
  height: 1px;
  border: none;
  background: repeating-linear-gradient(to right, #ebe6e5 0, #ebe6e5 1px,transparent 1px, transparent 6px);
  margin: 3.5625rem 0;
}
*/
.uppercase { text-transform: uppercase; }


/**
 * Lists
 */
.list-none { 
  list-style: none
}
/* Critical CSS
.list-arrow-right,
#design + ul, #code + ul { 
  list-style: none;
  padding-left: 0 !important
}
.list-arrow-right > li::before,
#design + ul > li::before,
#code + ul > li::before { 
  content: "→";
  font-family: "NT Bau Mono", Menlo, monospace;
  display: inline-block;
  position: relative;
  left: 0;
  opacity: 0.66;
  margin-right: 0.5em;
}
*/

/**
 * Tables
 */
table {
  margin: 3.5625rem -1.1875rem;
  padding: 0 1.1875rem;
  width: calc(100% + 1.1875rem * 2);
  max-width: max(33.68em, 100vw);
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
  caption-side: bottom;
}
.table-mono thead th {
  text-align: right;
}
.table-mono td {
  font-family: "NT Bau Mono", Menlo, monospace;
  text-align: right;
}
.table-mono tbody td {
  opacity: .66;
}
caption {
  text-align: left;
  font-size: .75rem; /* 11.875px */
  line-height: 1.6; /* 19px */
  text-transform: none;
  opacity: .66;
  margin-top: 1.9em;
}
caption::before {
  content: "↑";
  margin-right: .5em;
}
th {
  text-align: left;
  font-weight: 400;
}
tr > * {
  padding: .25em 1em .25em 0;
  border-bottom: 1px solid rgba(235, 230, 229, 0.333);
}
table a {
  white-space: pre;
}



/**
 * Font sizes
 */
/* Critical CSS
.text-0 {
  font-size: 0;
}
*/
.text-xs {
  font-size: .46875rem; /* 7.5px */
  line-height: 1.6; /* 12px */
}
[class*="text-xs"] {
  letter-spacing: 0.1em;
}
/* Critical CSS
.text-sm {
  font-size: .75rem;
  line-height: 1.58333;
}
.text-base {
  font-size: 1.1875rem;
  font-size: clamp(1.1875rem, 6.34vw, 1.9rem);
  line-height: 1.25;
}

[class*="text-base"] {
  letter-spacing: -0.01em;
}
*/
.text-lg {
  font-size: 1.9rem; /* 30.4px */
  line-height: 1.25; /* 38px */
}
/* Critical CSS
[class*="text-lg"] {
  letter-spacing: -0.02em;
}*/

@media (min-width: 30rem) { /* >= xs 480px */
  .xs\:text-xs {
    font-size: 0.6rem; /* 9.6px */
    line-height: 1.6; /* 12px */
  }
  .xs\:text-sm {
    font-size: 0.75rem; /* 12px */
    line-height: 1.6; /* 19px */
  }
  /* Critical CSS
  .xs\:text-base {
    font-size: 1.125rem;
    line-height: 1.579;
  }
  .xs\:text-lg {
    font-size: 1.9rem;
    line-height: 1.25;
  }
  */
}

@media (min-width: 40rem) { /* >= sm 640px */
  .sm\:text-xs {
    font-size: 0.6rem; /* 9.5px */
    line-height: 1.6; /* 11.875px */
  }
  .sm\:text-sm {
    font-size: 0.75rem; /* 11.875px */
    line-height: 1.6; /* 19px */
  }
  .sm\:text-base {
    font-size: 1.125rem; /* 19px */
    line-height: 1.579; /* 30px */
  }
  .sm\:text-lg {
    font-size: 1.9rem;  /* 30.4px */
    line-height: 1.25; /* 38px */
  }
}

@media (min-width: 50.5rem) { /* >= md 808px */
  .md\:text-xs {
    font-size: 0.6rem; /* 9.5px */
    line-height: 1.6; /* 11.875px */
  }
  .md\:text-sm {
    font-size: 0.75rem; /* 11.875px */
    line-height: 1.6; /* 19px */
  }
  .md\:text-base {
    font-size: 1.125rem; /* 19px */
    line-height: 1.579; /* 30px */
  }
  .md\:text-lg {
    font-size: 1.9rem;  /* 30.4px */
    line-height: 1.25; /* 38px */
  }
}

@media (min-width: 72rem) { /* >= lg 1152px */
  .lg\:text-xs {
    font-size: 0.6rem; /* 9.5px */
    line-height: 1.6; /* 11.875px */
  }
  .lg\:text-sm {
    font-size: 0.75rem; /* 11.875px */
    line-height: 1.6; /* 19px */
  }
  .lg\:text-base {
    font-size: 1.125rem; /* 19px */
    line-height: 1.579; /* 30px */
  }
  .lg\:text-lg {
    font-size: 1.9rem;  /* 30.4px */
    line-height: 1.25; /* 38px */
  }
}

@media (min-width: 80rem) { /* >= xl 1280px */
  .xl\:text-xs {
    font-size: 0.6rem; /* 9.5px */
    line-height: 1.6; /* 11.875px */
  }
  .xl\:text-sm {
    font-size: 0.75rem; /* 11.875px */
    line-height: 1.6; /* 19px */
  }
  .xl\:text-base {
    font-size: 1.125rem; /* 19px */
    line-height: 1.579; /* 30px */
  }
  .xl\:text-lg {
    font-size: 1.9rem;  /* 30.4px */
    line-height: 1.25; /* 38px */
  }
}


/**
 * Figures & Images
 */
/* Critical CSS
figure {
  padding: 0;
  margin: 1.1875rem 0;
}
picture {
  display: block;
  position: relative;
}
picture > img {
  width: 100%;
}
figcaption {
  margin-top: 1.1875rem;
  color: rgba(235, 230, 229, 0.666);
}
img {
  height: auto;
  object-fit: cover;
}
.object-none { object-fit: none }
*/
.mix-blend-multiply { mix-blend-mode: multiply }
.mix-blend-screen   { mix-blend-mode: screen }
/* Critical CSS
.pixelated { 
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
.filter-text-current::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(235, 230, 229, 0.666);
  mix-blend-mode: multiply;
  border-radius: .25rem
}
*/
/* Ratio */
[data-ratio]:not([data-ratio="auto"]) {
  position: relative;
  height: 0;
  width: 100%;
}
[data-ratio]:not([data-ratio="auto"]) > * {
  position: absolute;
  top: 0;
  height: 100%;
}
[data-ratio="3/1"]  { padding-top: 33.33333333% }
[data-ratio="21/9"] { padding-top: 42.85714286% }
[data-ratio="16/9"] { padding-top: 56.25% }
[data-ratio="5/3"]  { padding-top: 60% }
[data-ratio="3/2"]  { padding-top: 66.66666666% }
[data-ratio="7/5"]  { padding-top: 71.42857143% }
[data-ratio="4/3"]  { padding-top: 75% }
[data-ratio="10/8"] { padding-top: 80% }
[data-ratio="1/1"]  { padding-top: 100% }

/* Critical CSS
.rounded { border-radius: .25rem }
*/

/**
 * Header
 */
/* Critical CSS
#header {
  margin-bottom: 5.5rem;
}
#header > * {
  font-size: inherit;
  line-height: inherit;
}
*/
#header a {
  color: inherit;
  text-decoration: none;
}


/**
 * Buttons
 */
/* Critical CSS
.btn {
  background: rgba(23, 47, 51, 0.8);
  color: rgba(235, 230, 229, 0.666);
  border: none;
  outline: none;
  width: 2.4375rem;
  height: 2.4375rem;
  z-index: 10;
  cursor: pointer;
  border-radius: 50%;
  padding: 12.5px;
  padding: calc((2.75rem - 19px) / 2);
}
*/
.btn:focus, 
.btn:active {
  outline: 1px solid rgba(235, 230, 229, 0.666);
}
/* Critical CSS
#theme-switch {
  position: absolute;
  top: 1.1875rem;
  right: 1.1875rem;
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}
*/
#back-to-top {
  background: rgba(20, 25, 26, 0.666);
  color: rgba(235, 230, 229, 0.666) !important;
  position: absolute;
  top: unset;
  bottom: 1.1875rem;
  right: 1.1875rem;
  display: block;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  padding: .75em;
  cursor: n-resize;
}
#back-to-top:focus,
#back-to-top:active {
  background: #14191A;
  outline-color: rgba(235, 230, 229, 0.666);
}
@media (hover: hover) {
  .btn:hover {
    background: #172F33;
  }
  #back-to-top:hover {
    background: #14191A;
  }
}

/**
 * Breadcumb
 */
.breadcrumb ol {
  list-style: none;
  display: inline-block;
  padding-left: 0;
}
.breadcrumb ol > li {
  display: inline;
}

/**
 * Tags
 */
/* Critical CSS
.tags {
  margin: 0;
  padding: 0;
  display: inline-block;
  user-select: none;
}
.tag {
  display: inline-block;
  list-style: none;
  font-size: 0.46875rem;
  line-height: 1.6; 
  margin-right: 0.875em;
  margin-bottom: 1.25em;
  position: relative;
  z-index: 999;
}
.tag::before {
  display: none !important;
}*/
.tags.text-sm .tag,
.tag.text-sm {
  font-size: .75rem; /* 11.875px */
}
/*
.tag *,
.tag-link {
  background: rgba(23, 47, 51, 0.8);
  color: rgba(232, 208, 204, 0.8);
  padding: 0.45em 0.75em 0.55em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: .125rem;
  text-decoration: none;
  font-size: inherit;
}
*/
.tag a:focus {
  color: #172F33;
  background: #E8D0CC;
}
.tag a:active {
  color: #172F33 !important;
  background: #EBE6E5 !important;
}
@media (hover: hover) {
  .tag a:hover {
    color: #E8D0CC;
    background: #172F33;
  }
}
/* Critical CSS
@media (min-width: 30rem) {
  .tag {
    font-size: 0.6rem;
  }
}*/


/**
 * Main
 */
/* Critical CSS
main {
  min-height: calc(100vh - 21rem);
}
*/


/**
 * Content
 */
/* Critical CSS
.content h2 {
  font-family: "NT Bau Mono", Menlo, monospace; 
  line-height: 1.6;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  opacity: .66;
  margin-top: 3.5625rem;
  margin-bottom: 0.5em;
  clear: both;
}

.content h2,
.content p,
.content ul {
  font-size: .875rem;
  font-size: clamp(.875rem, 3.966vw, 1.1875rem);
}

.content h3 {
  font-size: 1.1875rem;
  font-size: clamp(1.1875rem, 6.34vw, 1.9rem);
  line-height: 1.25;
  text-transform: lowercase;
}
*/
.content ul,
.content ol {
  max-width: 40em;
}
.content ul {
  padding-left: 0;
}
.content ul > li:not(.tag):last-child {
  margin-bottom: 0 !important;
}
.content .list-none,
.content .tags, 
#design + ul, 
#code + ul {
  padding-left: 0;
}
.content ul:not(.list-none, .tags, #design + ul, #code + ul) li:not(.tag) {
  position: relative;
  margin-bottom: 1em;
  list-style: none;
  padding-left: 1.1875rem;
}
.content ul:not(.list-none, .tags, #design + ul, #code + ul) li:not(.tag)::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: .875rem;
  left: 0;
  background: currentColor;
  opacity: 0.333;
  width: .375rem;
  height: .375rem;
  border-radius: 50%;
}
/* Critical CSS
.content ul:not(.tags),
.content p {
  margin: 1.6em 0;
}
*/
.content .projet h4 {
  display: inline-block;
  min-width: 11.666em;
}
@media (min-width: 30rem) { /* >= xs 480px */
  .content h2 {
    font-size: 1.1875rem; /* 19px */
    line-height: 1.579; /* 30px */
  }
  .content h3 {
    font-size: 1.9rem;  /* 30.4px */
    line-height: 1.25; /* 38px */
  }
}
/* Critical CSS
@media (max-width: 71.9375rem) {
  h1 + .content h2 {
    margin-top: 0.55rem;
  }
}
*/
@media (min-width: 72rem) { /* >= lg 1152px */
  h1 + .content h2 + * {
    margin-top: .55rem !important;
  }
}


/**
 * Footer
 */
#footer {
  background: rgba(23, 47, 51, 0.8);
  clear: both;
  margin-top: 2.375rem;
  line-height: 1.5rem;
}
#footer *::-moz-selection {
  background: rgba(20, 25, 26, 0.666)
}
#footer *::selection {
  background: rgba(20, 25, 26, 0.666)
}
#footer .container > * {
  line-height: inherit;
}
#links li::before {
  content: "↗ ";
  font-family: "NT Bau Mono", Menlo, monospace;
  color: rgba(235, 230, 229, 0.666);
}
#stats {
  color: rgba(235, 230, 229, 0.666);
  white-space: nowrap;
}
#stats li:nth-child(3) {
  margin-bottom: 1.6em;
}
.stat-name::after {
  content: " "attr(data-dots);
  display: inline;
  font-family: "NT Bau Mono", Menlo, monospace;
}
@media (min-width: 30rem) { /* >= xs 480px */
  #stats {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 1.1875rem;
    -moz-column-gap: 1.1875rem;
    column-gap: 1.1875rem;
  }
  #stats li:nth-child(3) {
    margin-bottom: 0;
  }
}
@media (min-width: 72rem) { /* >= lg 1152px */
  /* Critical CSS
  .lg\:hidden {
    display: none;
  }
  */
  .lg\:pt-0 {
    padding-top: 0;
  }
}

/**
 * Homepage
 */
/* Critical CSS
#hero picture {
  max-width: 769px;
  max-height: 540px;
  mix-blend-mode: screen;
  overflow: hidden
}
#hero figcaption {
  max-width: 36em;
}
#hero img {
  object-position: 75% center;
}
*/
.article {
  position: relative;
  margin-bottom: 1em !important;
}
@media (min-width: 50.5rem) { /* >= md 808px */
  #hero img {
    object-fit: unset;
  }
  #code, #code + ul {
    position: absolute;
    left: 50%;
    padding-left: 0.6rem;
  }
  #code {
    top: 5.5rem;
    margin-top: 0;
  }
  #code + ul {
    top: 7.9rem;
    right: 0;
  }
  .content:after {
    content: "";
    display: block;
    clear: both;
  }
}
@media (min-width: 72rem) { /* >= lg 1152px */
  #code, #code + ul {
    left: 70%;
    width: auto;
  }
  #code {
    top: 3.5625rem;
  }
  #code + ul {
    top: 5.9rem;
  }
  #design + ul, #code + ul { 
    padding-left: 0.446rem !important;
  }
  /* Critical CSS
  .content.lg\:5\/8 > *:not(hr) {
    float: right;
    width: 100%;
    max-width: 62.5%;
    padding-left: 0.446rem
  }
  .content.lg\:5\/8 > h3 + *,
  #now .content.lg\:5\/8 > h2 + * {
    margin-bottom: 3.5625rem;
  }
  #now .content.lg\:5\/8 > h2 + * {
    margin-top: .45rem;
  }
  .content.lg\:5\/8 h2 {
    margin-top: 0.446rem;
    max-width: 12em;
    float: left;
    padding-left: 0;
  }
  .content.lg\:5\/8 h3 {
    margin-top: -.054rem;
  }
  */
}


/**
 * Blog
 */

/* List */
[data-type="blog"][data-kind="section"] .content > * {
  margin-left: 0;
  padding-left: 0;
}
/* Critical CSS
[data-type="blog"] .item {
  min-height: 12.5rem;
}*/

/* Single */
[data-type="blog"][data-kind="page"] main > header h1 {
  font-size: inherit;
}
[data-type="blog"][data-kind="page"] .content h2 {
  font-family: "NT Bau", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.9rem; /* 30.4px */
  line-height: 1.25; /* 38px */
  letter-spacing: -0.01em;
  text-transform: none;
}
[data-type="blog"][data-kind="page"] .content h3 {
  font-family: "NT Bau", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.1875rem; /* 19px */
  line-height: 1.333;
  text-transform: none;
  opacity: .66;
  margin-top: 2.666em;
}
[data-type="blog"][data-kind="page"] .content figure {
  margin: 4.75rem 0;
}
[data-type="blog"][data-kind="page"] .content figure:not(.w-full) {
  max-width: 769px;
}
[data-type="blog"][data-kind="page"] .content picture {
  display: flex;
  mix-blend-mode: screen;
}
[data-type="blog"][data-kind="page"] .content abbr::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  opacity: 0.666;
  background: repeating-linear-gradient(to right, #EBE6E5 1px, #EBE6E5 2px,transparent 2px, transparent 6px);
}
[data-type="blog"][data-kind="page"] article a[href^="http"]:not([href^="https://timothee.goguely.com/"])::after {
  content: "↗";
  display: inline-block;
  font-family: "NT Bau Mono", Menlo, monospace;
  font-size: .75rem;
  opacity: .66;
  margin-left: .15em;
}
[data-type="blog"][data-kind="page"] blockquote > footer::before {
  content: '— ';
  opacity: .66;
}
[data-type="blog"][data-kind="page"] blockquote > footer {
  margin-top: -1em;
}
[data-type="blog"][data-kind="page"] strong > a {
  color: #EBE6E5;
}

/**
 * Grid
 */
/* Critical CSS
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 1fr));
  gap: 0 2rem;
}*/

/**
 * Items
 */
/* Critical CSS
.items {
  max-width: 100%;
  padding: 0;
  margin: 2.375rem 0 4.75rem;
}
.item {
  border: 1px solid rgba(235, 230, 229, 0.333);
  margin-bottom: 2rem;
}
.item:first-child {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: stretch;
}

.item .item-body {
  display: flex;
  flex-direction: column;
  padding: 1.1875rem;
  width: 100%;
}

.item .item-title {
  margin-top: 0;
  text-transform: none;
}
.item .item-title a {
  text-decoration: none;
}

.item .item-cover picture {
  display: flex;
  mix-blend-mode: screen;
  height: 100%;
}
.item .item-cover img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  object-fit: none;
  height: 100%;
}
.item .item-date {
  margin: .296875rem 0;
}

.item .item-body .tags {
  order: -1;
  margin-bottom: 1em;
}

@media (min-width: 72rem) {
  .item:first-child {
    flex-direction: row;
  }
  .item .item-cover img {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
*/

@media (hover: hover) {
  .item:hover {
    border-color: rgba(235, 230, 229, 0.666);
  }
}



/**
 * Dark mode
 */
@media (prefers-color-scheme: dark) {
  html { content: "dark" }
}
[data-theme="dark"] .dark\:hidden {
  display: none;
}


/**
 * Light mode
 */


[data-theme="light"] .light\:hidden {
  display: none;
}
[data-theme="light"] body {
  color: #14191A;
  background: rgba(235, 230, 229, 0.666);
}
[data-theme="light"] *::-moz-selection {
  background: rgba(232, 208, 204, 0.8);
}
[data-theme="light"] *::selection {
  background: rgba(232, 208, 204, 0.8);
}
[data-theme="light"] #footer *::-moz-selection {
  background: rgba(235, 230, 229, 0.666)
}
[data-theme="light"] #footer *::selection {
  background: rgba(235, 230, 229, 0.666)
}
[data-theme="light"] .tag *,
[data-theme="light"] .tag-link,
[data-theme="light"] .btn {
  background: rgba(232, 208, 204, 0.8);
  color: rgba(20, 25, 26, 0.666);
}
[data-theme="light"] a:focus {
  background: #172F33 !important;
  color: #E8D0CC !important;
}
[data-theme="light"] .tag a:active {
  background: #172F33 !important;
  color: #EBE6E5 !important;
}
[data-theme="light"] .btn:focus, 
[data-theme="light"] .btn:active {
  outline-color: currentColor;
}
[data-theme="light"] #back-to-top {
  background: rgba(235, 230, 229, 0.666);
  color: rgba(20, 25, 26, 0.666) !important;
}
[data-theme="light"] #back-to-top:focus, 
[data-theme="light"] #back-to-top:active {
  background: #EBE6E5;
}
[data-theme="light"] #back-to-top:focus, 
[data-theme="light"] #back-to-top:active  {
  outline-color: rgba(20, 25, 26, 0.666);
}
[data-theme="light"] hr,
[data-theme="light"] #stats::before {
  background: repeating-linear-gradient(to right, #14191a 0, #14191a 1px,transparent 1px, transparent 6px);
}
[data-theme="light"] a {
  color: #172F33;
}
[data-theme="light"] a:focus,
[data-theme="light"] a:active {
  background: #14191A;
  color: #EBE6E5 !important;
}
[data-theme="light"] strong,
[data-theme="light"] #footer {
  background: rgba(232, 208, 204, 0.8);
}
[data-theme="light"] figcaption,
[data-theme="light"] #stats,
[data-theme="light"] #links li::before {
  color: rgba(20, 25, 26, 0.666);
}
[data-theme="light"] .filter-text-current::after {
  background: rgba(20, 25, 26, 0.666);
  mix-blend-mode: screen;
}
[data-theme="light"] #hero picture,
[data-theme="light"] .item-cover picture,
[data-theme="light"] [data-type="blog"][data-kind="page"] .content picture {
  mix-blend-mode: multiply;
}
[data-theme="light"] .item {
  border-color: rgba(20, 25, 26, 0.333);
}
[data-theme="light"] [data-type="blog"][data-kind="page"] strong > a {
  color: #14191a;
}
@media (hover: hover) {
  [data-theme="light"] .btn:hover {
    background: #E8D0CC
  }
  [data-theme="light"] #back-to-top:hover {
    background: #EBE6E5
  }
  [data-theme="light"] .item:hover {
    border-color: rgba(20, 25, 26, 0.666);
  }
  [data-theme="light"] .tag a:hover {
    color: #172F33;
    background: #E8D0CC;
  }
}
