/**
 * Custom Dark theme for reveal.js.
 * Author: Timothée Goguely
 */
html * {
  color-profile: sRGB;
  rendering-intent: auto;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
:root {
  --r-background-color: #14191a; 
  --r-main-font: "NT Bau", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --r-main-font-size: 1.9rem;
  --r-main-color: rgba(235, 230, 229, 0.666);
  --r-block-margin: 1.5rem;
  --r-heading-margin: 0 0 1em 0;
  --r-heading-font: "NT Bau", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --r-heading-color: #ebe6e5;
  --r-heading-line-height: 1.2;
  --r-heading-letter-spacing: 0;
  --r-heading-text-transform: initial;
  --r-heading-text-shadow: none;
  --r-heading-font-weight: normal;
  --r-heading1-text-shadow: none;
  --r-heading1-size: 1.9em;
  --r-heading2-size: 1.6em;
  --r-heading3-size: 1.3em;
  --r-heading4-size: 0.625em;
  --r-code-font: "NT Bau Mono", Menlo, monospace;
  --r-serif-font: "Minion Pro", Garamond, serif;
  --r-link-color: #E8D0CC;
  --r-link-color-dark: #E8D0CC;
  --r-link-color-hover: #E8D0CC;
  --r-selection-background-color: rgba(23, 47, 51, 0.8);
  --r-selection-color: #ebe6e5;
}

.reveal-viewport {
  background: #14191a;
  background-color: var(--r-background-color);
}

.reveal {
  font-family: var(--r-main-font);
  font-size: var(--r-main-font-size);
  font-weight: normal;
  color: var(--r-main-color);
}

.reveal .has-light-background,
.reveal .has-light-background figcaption,
.reveal .has-light-background strong, 
.reveal .has-light-background b,
.reveal .has-light-background td {
  color: var(--r-selection-background-color);
}
.reveal .has-light-background th,
.reveal .has-light-background td {
  border-bottom-color: rgba(23, 47, 51, 0.333);
}
.reveal .has-light-background a {
  color: #172f33;
}
.reveal .has-light-background a:hover {
  color: #14191a;
}
.reveal .has-light-background strong, 
.reveal .has-light-background b {
  background: rgba(232, 208, 204, 0.8);
}

.reveal ::selection {
  color: var(--r-selection-color);
  background: var(--r-selection-background-color);
  text-shadow: none;
}

.reveal ::-moz-selection {
  color: var(--r-selection-color);
  background: var(--r-selection-background-color);
  text-shadow: none;
}

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit;
  text-align: left;
}

.reveal .slides section > ul,
.reveal .slides section > p {
  max-width: 56rem;
}

.reveal .slides section ul.list-image > li img {
  margin: 0;
  position: relative;
  top:.2em;
  max-width: 1.5rem;
  max-height: 1.5rem
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: var(--r-heading-margin);
  color: var(--r-heading-color);
  font-family: var(--r-heading-font);
  font-weight: var(--r-heading-font-weight);
  line-height: var(--r-heading-line-height);
  letter-spacing: var(--r-heading-letter-spacing);
  text-transform: var(--r-heading-text-transform);
  text-shadow: var(--r-heading-text-shadow);
  word-wrap: break-word;
}

.reveal .has-light-background h1,
.reveal .has-light-background h2,
.reveal .has-light-background h3,
.reveal .has-light-background h4,
.reveal .has-light-background h5,
.reveal .has-light-background h6
 {
  color: var(--r-background-color);
}

.reveal h1, .reveal .h1 {
  font-size: var(--r-heading1-size);
  letter-spacing: -0.025em;
  text-shadow: var(--r-heading1-text-shadow);
}

.reveal h2, .reveal .h2 {
  font-size: var(--r-heading2-size);
  letter-spacing: -0.025em;
}

.reveal h3, .reveal .h3 {
  font-size: var(--r-heading3-size);
}

.reveal h4, .reveal .h4 {
  font-size: var(--r-heading4-size);
  font-family: var(--r-code-font);
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-bottom: 1.6em;
}

.reveal .subtitle {
  margin-top: 0.55em;
  margin-bottom: 0.1em;
}

.reveal h2 + .subtitle {
  position: relative;
  top: -1.25em;
}
.reveal h3 + .subtitle {
  position: relative;
  top: -.75em;
}

.reveal h2,
.reveal hr {
  max-width: 100% !important;
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: var(--r-block-margin) 0;
  line-height: 1.3;
}

.reveal .main-color {
  color: var(--r-main-color);
}
.reveal .heading-color {
  color: var(--r-heading-color);
}

/* Remove trailing margins after titles */
.reveal h1:last-child,
.reveal h2:last-child,
.reveal h3:last-child,
.reveal h4:last-child,
.reveal h5:last-child,
.reveal h6:last-child {
  margin-bottom: 0;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 100%;
  max-height: 100%;
}

.reveal strong,
.reveal b {
  color: var(--r-heading-color);
  font-weight: normal;
}

.reveal em {
  font-style: italic;
}

.reveal abbr {
  text-decoration: underline dotted;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

.reveal ol {
  list-style-type: decimal;
  padding-left: 0;
}
.reveal ol > li {
  padding-left: 0.25em;
  margin-bottom: 0.625em;
} 

.reveal ul {
  list-style-type: none;
  padding-left: 1.25em;
  margin-left: 0
}
.reveal ul > li {
  padding-left: 0;
  margin-bottom: 0.625em;
} 
.reveal ul > li::before { 
  content: "→";
  font-family: var(--r-code-font);
  display: inline-block;
  position: absolute;
  margin-left: -1.25em;
  opacity: 0.66;
}

.reveal ul ul {
  list-style-type: none;
}

.reveal ul ul ul {
  list-style-type: none;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal dt {
  font-weight: bold;
}

.reveal dd {
  margin-left: 40px;
}

.reveal blockquote {
  display: block;
  margin: 0 0 0 var(--r-block-margin);
  font-size: var(--r-heading2-size);
}
.reveal blockquote p {
  margin: 2rem 0 1.5rem;
  font-family: var(--r-serif-font);
  font-size: 117.647%;
}
.reveal blockquote p::before {
  content: "«";
  position: absolute;
  margin-left: -.75em;
  opacity: 0.5;
}
.reveal blockquote p::after {
  content: "»";
  margin-left: .25em;
  opacity: 0.5;
}
.reveal blockquote.text-right p::after {
  content: "»";
  position: absolute;
  right: -.75em;
}
.reveal blockquote ~ p.fixed {
  padding-left: var(--r-block-margin);
}
.reveal blockquote.text-right ~ p.fixed {
  padding-left: 0;
  padding-right: var(--r-block-margin);
}
.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}
.reveal blockquote footer {
  font-family: var(--r-code-font);
}
.reveal blockquote.text-right footer {
  max-width: none !important;
}

.reveal q {
  font-style: italic;
}

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: var(--r-block-margin) 0;
  text-align: left;
  font-size: 0.55em;
  font-family: var(--r-code-font);
  line-height: 1.5em;
  word-wrap: break-word;
}

.reveal code,
.font-mono {
  font-family: var(--r-code-font);
  text-transform: none;
  tab-size: 2;
}

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
}

.reveal .code-wrapper {
  white-space: normal;
}

.reveal .code-wrapper code {
  white-space: pre;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: var(--r-heading4-size);
}

.reveal table th {
  font-weight: normal;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.333em 0.5em 0.5em 0.5em;
  border-bottom: 1px solid rgba(235, 230, 229, 0.3333);
}

.reveal table tr td {
  color: var(--r-heading-color);
}
.reveal table th[align=center],
.reveal table td[align=center] {
  text-align: center;
}

.reveal table th[align=right],
.reveal table td[align=right] {
  text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none;
}


.reveal sup {
  vertical-align: super;
  font-size: smaller;
}

.reveal sub {
  vertical-align: sub;
  font-size: smaller;
}

.reveal small,
.reveal .text-sm,
.reveal img {
  font-size: 1.1875rem;
  line-height: 1.5;
  opacity: 1;
}
.reveal .text-sm {
  max-width: 38em !important;
}

.reveal small * {
  vertical-align: initial;
}

.reveal figure > img {
  margin: 0;
}
.reveal img {
  margin: var(--r-block-margin) 0;
  border-radius: .125rem;
}
.reveal .image-links a {
  margin: .5rem;
  display: flex;
}
.reveal .image-links a > img {
  margin: 0;
}

.reveal figcaption,
.reveal caption {
  max-width: 100%;
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: var(--r-code-font);
  text-align: center;
  caption-side: bottom;
  margin-top: 1.5em;
}

.reveal iframe {
  border: none;
  background: white;
  min-width: 100%;
  min-height: 100%;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: var(--r-link-color);
  text-decoration: underline;
  transition: color 0.15s ease;
}

.reveal a.fixed {
  position: fixed;
}

.reveal a:hover {
  color: var(--r-link-color-hover);
  text-shadow: none;
  text-decoration: none;
  border: none;
}
.reveal a:active, .reveal a:focus {
  color: var(--r-link-color-hover) !important;
  background: none;
  outline: 1px solid var(--r-link-color-hover);
}

.reveal .roll span:after {
  color: #fff;
  background: var(--r-link-color-dark);
}

/*********************************************
 * INPUTS
 *********************************************/
.reveal label {
  display: inline-block;
  width: 40%;
  color: var(--r-heading-color);
}
.reveal .range {
  display: inline-block;
  width: 50%;
  position: relative;
  top: .5em;
}
.reveal input[type="range"] {
  width: 100%;
}
.reveal output {
  font-size: var(--r-heading4-size);
  text-transform: uppercase;
  font-family: var(--r-code-font);
  letter-spacing: 0.1em;
}

/*********************************************
 * Layout
 *********************************************/

.reveal section.text-center > * {
  text-align: center;
}

.reveal section.top-0 {
  top: 0rem !important;
}

.reveal section.top-0 h2,
.reveal section.top-0 h3 {
  margin-top: 1rem
}

.reveal .col-2,
.reveal .col-3,
.reveal .col-4 {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
.reveal .col-2 > * {
  width: 47.5%;
}
.reveal .col-3 > * {
  width: 31.5%;
}
.reveal .col-4 > * {
  width: 22.5%;
}

.reveal .col-2 figcaption {
  text-align: left;
}

.reveal [data-background-image] p.caption {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.1875rem;
  line-height: 1.25;
  color: var(--r-heading-color);
  background: rgba(0,0,0,.75);
  border-radius: .25rem;
  margin: auto;
  padding: .296875rem .59375rem .59375rem;
}

.reveal .bg-top .slide-background-content {
  background-position-y: top;
}

/*********************************************
 * Frame helper
 *********************************************/
.reveal .r-frame {
  border: 4px solid var(--r-main-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal a .r-frame {
  transition: all 0.15s linear;
}

.reveal a:hover .r-frame {
  border-color: var(--r-link-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: var(--r-link-color);
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: var(--r-link-color);
}

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: var(--r-background-color);
  }
}

/*********************************************
 * CODE HIGHLIGHT
 *********************************************/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: var(--r-background-color);
  color: #ddd;
}

.hljs-tag,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-strong,
.hljs-name {
  color: #f92672;
}

.hljs-code {
  color: #66d9ef;
}

.hljs-class .hljs-title {
  color: white;
}

.hljs-attribute,
.hljs-symbol,
.hljs-regexp,
.hljs-link {
  color: #bf79db;
}

.hljs-string,
.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-section,
.hljs-emphasis,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #a6e22e;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #75715e;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-selector-id {
  font-weight: bold;
}