<link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="icon" href="/favicons/favicon.svg">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
  <meta name="theme-color" content="#14191a">
  <link rel="manifest" href="/manifest.json">
