  <footer id="footer" class="relative py-8">
    <div class="container mx-auto px-4 text-0">
      <p class="xs:inline-block xs:w-1/2 lg:w-3/8 mb-4 xs:mb-0 pr-2 max-w-none text-sm">
        {{ .Site.Title }} <br>
        <span>timothee<!-- --><span class="hidden">anti</span>&#64;<span class="hidden">spam</span>goguely<!-- -->.com</span> <br>
        {{ $mentionsLegales := .Site.GetPage "/mentions-legales" }}
        <a href="{{ $mentionsLegales.Permalink }}">Mentions légales</a>
      </p>
      <ul id="links" class="xs:inline-block lg:w-1/4 list-none pl-0 mt-0 mb-0 xs:pl-2 text-sm">
        {{- range $.Site.Data.footer.links }}
        <li><a rel="me" href="{{ .link }}" target="_blank">{{ .name }}</a></li>
        {{- end }}
      </ul>
      {{- with .Params.stats }}
      <hr class="lg:hidden mt-8 mb-0">
      <ul id="stats" class="lg:inline-block lg:w-3/8 list-none pt-8 lg:pt-0 pl-0 mt-0 mb-4 mono text-sm">
        {{- range . }}
        <li class="stat"><span class="stat-name" data-dots="{{ .dots }}">{{ .name | markdownify }}</span> {{ .value }}</li>
        {{- end }}
      </ul>
      {{- end }}
      <a href="#header" id="back-to-top" class="btn | mono text-sm" title="Retour en haut">
        <span aria-hidden="true">↑</span>
      </a>
    </div>
  </footer>

  {{ $scriptPath := "js/main.js" }}
  {{- $scripts := resources.Get $scriptPath | resources.ExecuteAsTemplate $scriptPath . | resources.Minify | resources.Fingerprint "sha512" -}}
  <script async src="{{ $scripts.Permalink }}"></script>
  <!-- Plausible -->
  <script defer data-domain="timothee.goguely.com" src="https://plausible.io/js/script.js"></script>
