  <header id="header" class="container mx-auto relative px-4 py-2 text-base xs:text-lg">
    {{- if .IsHome }}
    <h1>{{ .Site.Title }}</h1>
    {{- else }}
    <a href="{{ .Site.Home.Permalink | absLangURL }}">{{ .Site.Title }}</a> <br>
    {{- end }}
    <p class="opacity-60">{{ .Site.Params.description }}</p>
    <button id="theme-switch" class="btn" title="Activer/désactiver le mode sombre">
      <span class="visually-hidden">Activer/désactiver le mode sombre</span>
    </button>
  </header>
