<nav id="nav" role="navigation" class="">
  <ul class="menu">
  {{- $currentPage := . -}}
  {{ range .Site.Menus.main -}}
    {{ $active := (eq $currentPage.Name .Name) }}
    <li class="menu-item{{ if $active }} active{{end}}">
      <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
    </li>
  {{ end }}
  </ul>
</nav>
