<div id="prev-next">
  <p class="prev">
    {{ with .PrevInSection -}}
    <span><span aria-hidden="true">←</span> {{ T "prev" }}</span> <br>
    <a href="{{.Permalink}}">{{ .Title }}</a>
    {{- end }}
  </p>
  <p class="next">
    {{ with .NextInSection -}}
    <span>{{ T "next" }} <span aria-hidden="true">→</span></span> <br>
    <a href="{{.Permalink}}">{{ .Title }}</a>
    {{- end }}
  </p>
</div>