  {{ define "page" }}
    <article class="px-4 py-4">
      <h1 class="mono uppercase opacity-60 text-sm xs:text-base">Erreur 404</h1>
      <h2 class="text-base xs:text-lg">Page non trouvée</h2>
      <hr>
      <p class="mb-4">L’URL demandée n’a pas pu être trouvée sur ce serveur. <br> Si vous avez tapé l’URL à la main, veuillez vérifier l’orthographe et réessayer.</p>
      <p><span aria-hidden="true" class="mono opacity-60">→</span> <a href="{{ "/" | relURL }}">Retourner à la page d’accueil</a></p>
    </article>
  {{ end }}