{{ define "page" }}
  {{ partial "header.html" . }}
  <main class="container mx-auto">

    <div class="px-4">
      
      <header id="hero" class="lg:-mx-2 text-0">
        <p class="lg:inline-block lg:w-3/8 lg:px-2 lg:pr-6 text-base xs:text-lg mb-8">{{ .Summary | markdownify }}</p>
        <div class="lg:inline-block lg:w-5/8 lg:px-2">
          <figure class="mt-0">
            {{ with .Params.hero.image }}
            <picture class="filter-text-current">
              <img src="{{ .src }}" alt="{{ .alt }}" width="769" height="540" class="object-none pixelated rounded" fetchpriority="high">
            </picture>
            {{ with .caption }}
            <figcaption class="text-sm"><span aria-hidden="true">↑</span> {{ . | markdownify }}</figcaption>
            {{ end }}
            {{ end }}
          </figure>
        </div>
      </header>
      
      <div class="content | relative text-sm xs:text-base lg:5/8">

        {{ .Content | markdownify }}
        
        {{ $projets := .Site.GetPage "/projets" }}
        <ul class="projets | list-none pl-0 mb-16">
          {{- range $projets.Pages.ByDate.Reverse }}
          <li class="projet | mb-1">
            <time class="opacity-60 mono mr-1" datetime="{{ dateFormat "2006" .Date }}">{{ dateFormat "2006" .Date }}</time> <h4 class="pr-2"><a href="{{ .Params.link }}" rel="noopener" target="_blank">{{ .Title }}</a></h4><ul class="tags">{{ range .Params.categories -}}<li class="tag"><span class="tag-link">{{ . }}</span></li>{{ end }}</ul>
          </li>
          {{- end -}}
          {{- $now := .Site.GetPage "/now" -}}
          <li class="projet | mb-1">
            <span class="opacity-60 mono mr-1">→ et</span> <a href="{{ $now.Permalink }}">en ce moment&#8239;?</a>
          </li>
        </ul>
        <hr>
        {{ $blog := .Site.GetPage "/blog" }}
        <h2 id="blog">Blog</h2>
        <h3 id="derniers-articles">Derniers articles</h3>
        <ul class="items | list-none px-4" style="margin-bottom: 4.75rem">
        {{- range first 3 $blog.Pages.ByDate.Reverse }}
          <li class="item | relative rounded">
            <article class="item-body">
              <h4 class="item-title | text-base xs:text-lg mb-2"><a class="link-full" href="{{ .Permalink }}">{{ .Title }}</a></h4>
              <p class="item-date | mono text-sm xs:text-base opacity-60 mt-1 mb-1"><time datetime="{{ .Date.Format "2006-01-02" | safeHTML }}">{{ .Date | time.Format ":date_long" }}</time> · <time datetime="PT{{ .ReadingTime }}M" title="Temps de lecture">{{ .ReadingTime }} <abbr title="minutes">min</abbr></time></p>
              {{- with .Params.tags -}}
              <ul class="tags">{{ range . }}<li class="tag"><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>{{ end }}</ul>
              {{- end }}
            </article>
          </li>
        {{- end }}
        </ul>
      </div>
    </div>

  </main>
  {{ partial "footer.html" . }}
{{ end }}