{{ define "page" }}
  {{ partial "header.html" . }}
  <main class="container mx-auto">
    
    <header class="px-4 mb-8">
      <h1 class="text-base xs:text-lg">Tags</h1>
    </header>
    
    <div class="px-4">
      <ul class="tags | text-sm">
        {{ range .Site.Taxonomies.tags }}
        <li class="tag"><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> <span class="mono opacity-60 ml-1">{{ .Count }}</span></li><br>
        {{- end -}}
      </ul>
    </div>

  </main>
  {{ partial "footer.html" . }}
{{ end }}