{{ define "page" }}
  {{ partialCached "header.html" . .IsHome }}
  <main class="container mx-auto">
    
    <header class="px-4 mb-8 text-base xs:text-lg">
      <nav class="inline"><a href="/tags">Tags</a> <span class="opacity-60">/</span> <span class="text-base xs:text-lg mb-2">{{ .Title }}</span></nav>
    </header>
    
    <div class="relative px-4 text-sm xs:text-base">
      {{- with .Content -}}
      <p class="intro | opacity-60">{{ . | markdownify }}</p>
      {{- end -}}
      
      <section class="items | mb-16">
      {{- range $index, $item := .Pages.ByDate.Reverse }}
        {{- with $item -}}
        <article class="item | relative rounded">
          <div class="item-body">
            <h2 class="item-title | text-base xs:text-lg mb-2"><a class="link-full" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
            <p class="item-date | mono text-sm xs:text-base opacity-60 mt-1 mb-1"><time datetime="{{ .Date.Format "2006-01-02" | safeHTML }}">{{ .Date | time.Format ":date_long" }}</time> · <time datetime="PT{{ .ReadingTime }}M" title="Temps de lecture">{{ .ReadingTime }} <abbr title="minutes">min</abbr></time></p>
            <p class="mt-4">{{ .Description }}</p>
            {{- with .Params.tags -}}
            <ul class="tags">{{ range . }}<li class="tag"><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>{{ end }}</ul>
            {{- end }}
          </div>
        </article>
        {{- end }}
      {{- end }}
      </section>
    </div>

  </main>
  {{ partialCached "footer.html" . .Params.stats }}
{{ end }}
